<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ComplaintPortal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>adminLogin</display-name>
    <servlet-name>adminLogin</servlet-name>
    <servlet-class>com.dip.services.adminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.dip.services.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.dip.services.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeptLogin</display-name>
    <servlet-name>DeptLogin</servlet-name>
    <servlet-class>com.dip.services.DeptLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptLogin</servlet-name>
    <url-pattern>/DeptLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>com.dip.services.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDept</display-name>
    <servlet-name>AddDept</servlet-name>
    <servlet-class>com.dip.services.AddDept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDept</servlet-name>
    <url-pattern>/AddDept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComp</display-name>
    <servlet-name>AddComp</servlet-name>
    <servlet-class>com.dip.services.AddComp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComp</servlet-name>
    <url-pattern>/AddComp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addComment</display-name>
    <servlet-name>addComment</servlet-name>
    <servlet-class>com.dip.services.addComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addComment</servlet-name>
    <url-pattern>/addComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHelp</display-name>
    <servlet-name>AddHelp</servlet-name>
    <servlet-class>com.dip.services.AddHelp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHelp</servlet-name>
    <url-pattern>/AddHelp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addRoad</display-name>
    <servlet-name>addRoad</servlet-name>
    <servlet-class>com.dip.services.addRoad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addRoad</servlet-name>
    <url-pattern>/addRoad</url-pattern>
  </servlet-mapping>
</web-app>